# Puerto del servidor
PORT=3000

# Conexión a PostgreSQL (Supabase, Neon, o local)
# Ejemplo Supabase: postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres?sslmode=require
# Ejemplo Neon: postgres://[USER]:[PASSWORD]@[ENDPOINT].neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://postgres:tu_password@localhost:5432/pollopos

# Seguridad y Autenticación JWT
JWT_SECRET=super_secreto_pollopos_2026_seguro
JWT_EXPIRES_IN=8h
